/* +--------------------------------------------------------------------------+
// ? 2002-2007 PMB Services / www.sigb.net pmb@sigb.net et contributeurs (voir www.sigb.net)
// +-------------------------------------------------+
// $Id: dashboard.css,v 1.4 2014-01-13 08:07:15 arenou Exp $ */

 #navbar ul {
	left : 40px;
	width: calc(100% - 40px);
}
 
#extra2 {
	z-index:201;
} 
 
#notification_zone{
	background-color:#E5EEB4;
}

#notification_zone .erreur{
	border:none;
	color: #8994B0;
}

#dashboards .dashboard {
	border-radius : 10px;
	box-shadow: 10px 10px 10px #aaa; 
}

#dashboards .dashboard h3{
	color : white;
	padding :10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	vertical-align: middle;
	background-color : #FDC94B;
}

