 /* +--------------------------------------------------------------------------+
// ? 2002-2013 PMB Services / www.sigb.net pmb@sigb.net et contributeurs (voir www.sigb.net)
// +-------------------------------------------------+
// $Id: common.css,v 1.67 2014-01-17 12:33:22 dgoron Exp $ */


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                         ATTRIBUTS GENERAUX                                 */
/*                                                                            */
/*                     attrbitus generaux de la page                          */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


* {
	margin: 0px;
	padding: 0px;
	word-wrap: break-word;
}

body {
	font-size : 12px;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                                  IFRAME                                    */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


/* -----------------------------------------------------*/
/*                         Panier                       */
/* -----------------------------------------------------*/


#resume_panier {
}

body.cart_info_body {
	background-color : transparent;
}

#iframe_resume_panier {
	width:100%;
	height:35px;
	border:none;
}

#cart_action {
	margin-bottom: 20px;
}

/* -----------------------------------------------------*/
/*                         Tris                         */
/* -----------------------------------------------------*/

#frame_notice_preview {
	border: 2px solid #777799;
	z-Index: 9001;
	position: absolute;
	background-color: #f8f8f8;
	width:680px;
	height:500px;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                            Contenu du Bandeau                              */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


/* -----------------------------------------------------*/
/*                        Accueil                       */
/* -----------------------------------------------------*/


/* -----------------------------------------------------*/
/*                      Connexion                       */
/* -----------------------------------------------------*/


/* ---------------Input---------------*/


#login_form input.bouton {
	text-transform: uppercase;
	text-align: center;
}


/* -----------------------------------------------------*/
/*                       Adresse                        */
/* -----------------------------------------------------*/


#adresse {
}


/* -----------------------------------------------------*/
/*                 biblio_post_adress                   */
/* -----------------------------------------------------*/


#post_adress {
}


/* -----------------------------------------------------*/
/*                      facettes                        */
/* -----------------------------------------------------*/


#facette table td:first-child {
	width: 16px;
}

#facette table#active_facette td:first-child {
	width: 90%;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                            Contenu du Main                                 */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


/* -----------------------------------------------------*/
/*                        Navigator                     */
/* -----------------------------------------------------*/


.empty {
	visibility: hidden !important;
	height: 0px !important;	
	margin: 0px !important;	
	padding: 0px !important;	
}


/* -----------------------------------------------------*/
/*                        Search                        */
/* -----------------------------------------------------*/


#search p.p1 {
	margin-bottom: 5px;
}

#search_crl {
	clear: left;
}

#search form select {
	margin-right: 10px;
}

#search input.text_query {
	width: 60%;
}

#simple_search_zone {
	margin-top: 10px;
}

#zsimples {
	border-bottom: none !important;
	padding-bottom: 0px;
}

#zsimplesChild {
	width: auto !important;
}


/*----Recherche multi-criteres----*/


.ext_search_txt {
	width: 260px;
}

#external_simple_search_zone {
	margin-top: 15px;
}


/*------Recherche par termes------*/


.colonne_suite a, .colonne2 a {
	font-size: 12px;
}


/*-------Recherche externe-------*/


#search .row form .row span {
	padding-top: 5px;
}


/*-----Resultats de recherche-----*/


#search_result {
	margin-bottom: 20px;
}

#resultatrech h3 span {
	font-size: 13px;
}

#resultatrech h3 img {
	vertical-align: middle;
}

#resultatrech_liste blockquote {
	margin-top: 20px;
	margin-left: 0px;
}


/* -----------------------------------------------------*/
/*                 Liste periodiques                    */
/* -----------------------------------------------------*/


#perio_a2z_search {
	width: 50%;
}
 
#perio_a2z .onglets_isbd_public {
	padding-bottom: 0px;	
}

table.a2z_contens {
	margin-top: 10px;
}

table.a2z_contens .a2z_perio_list {
	height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

table.a2z_perio_list {
	width: 200px;
}

#a2z_perio b .header_title {
	font-size: 16px;
	text-transform: uppercase;
}

#a2z_perio .notice-child h3 span {
    padding-left: 0px;
}

#a2z_perio .navbar {
	margin-top: 10px;
}

input#a2z_abt_actif {
	vertical-align: middle;
	margin-left: 2px;
	margin-right: 2px;
}

.perio_title {
    margin-left: 4px;
}


/* -----------------------------------------------------*/
/*                       Categories                     */
/* -----------------------------------------------------*/


#categories-container h2 {
	font-size: 13px;
}

#categories-container h2 img {
	margin-right: 3px;
}

#categories-container li:after  {
	content: " - "; 
}

#aut_see {
   	margin-top: 10px;
   	margin-bottom: 15px;
}

#aut_see table {
   	width: 93%;
}

#aut_details_liste {
	margin-top: 20px;
}


/* -----------------------------------------------------*/
/*                    Localisations                     */
/* -----------------------------------------------------*/


#location-container table tr td a b {
    font-weight: normal;
    font-size: 14px;
}

.loc_comment {
	margin-bottom: 10px;	
}


/* -----------------------------------------------------*/
/*               Dernieres Acquisitions                 */
/* -----------------------------------------------------*/


#last_entries {
}


/* -----------------------------------------------------*/
/*                        Etageres                      */
/* -----------------------------------------------------*/


#etagere-titre h1 {
	font-size: 16px;
}

#etagere-comment h2 {
	font-style: italic;
	font-size: 15px;
	text-align: right;
	font-weight: normal;
}

#etagere-notice-list {
	clear: left;	
}


/* -----------------------------------------------------*/
/*                        Footer                        */
/* -----------------------------------------------------*/


#footer {
	text-align: center;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                         Balises HTML de base                               */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


a {
}

img {
	border: none;
}

ul, ol {
	list-style-position: inside;
}

input {
	background-color: #ffffff;
}

select {
	margin-top: 3px;
	margin-bottom: 3px;
	background-color: #ffffff;
}

textarea {
	max-width: 100%;
	background-color: #ffffff;
}

input[type=checkbox] {
	border: none;
}

hr {
	height: 1px;
	margin-bottom: 5px;
}

.row {
	clear: both;
	border-bottom: none !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                                     Menu                                   */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


#menuDeroulant, .cms_menu_deep0 {
}

#menuDeroulant li, .cms_menu_deep0 li {
    display: block;
    float: left;
	position: relative;
}


/******************* sous-menu ********************/


#menuDeroulant .sousMenu, .cms_menu_deep1 {
    display: none;
    width: 150px;
    position: absolute;
    left: 0px;
    top: 36px;
    z-index: 1;
}

#menuDeroulant .sousMenu li, .cms_menu_deep1 li {
    display: block;
    width: 100%;
}

#menuDeroulant .sousMenu li a, .cms_menu_deep1 li a {
    text-decoration: none;
}

#menuDeroulant .sousMenu li a:hover, .cms_menu_deep1 li a:hover, #menuDeroulant .sousMenu li a:focus, .cms_menu_deep1 li a:focus {
}

#menuDeroulant li:hover > .sousMenu, .cms_menu_deep0 li:hover > .cms_menu_deep1, #menuDeroulant li:focus > .sousMenu, .cms_menu_deep0 li:focus > .cms_menu_deep1 {
    display: block;
}


/****************** sous-menu 2 *******************/


#menuDeroulant .sousMenu2, .cms_menu_deep2 {
    display: none;
    width: 150px;
    position: absolute;
    margin-left: 160px;
    top: 0px;
    z-index: 1;
}

#menuDeroulant li:hover > .sousMenu2, .cms_menu_deep1 li:hover > .cms_menu_deep2, #menuDeroulant li:focus > .sousMenu2, .cms_menu_deep1 li:focus > .cms_menu_deep2 {
    display: block;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                                   Tableaux                                 */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


table {
	border-collapse: separate;
	width: 100%;
	clear: both;
}

th {
	text-align: left;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 1px;
	padding-left: 1px;
}

td {
	vertical-align: top;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                         Petit module de recherche                          */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


.searchbox {
	text-align: center;
}

.searchbox input[name="user_query"] {
	width: 89%;
	margin-bottom: 5px;
}

.searchbox .search_radio_button {
	display: inline-block;
}

.searchbox .search_radio_button input {
	margin-right: 5px;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                                   Facettes                                 */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


#facette table th {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                              Page Inscription                              */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


#subs_form table td h4 {
	margin: 0px;
}

#subs_form table td input.subsform {
	width: 195px;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                                  Carrousel                                 */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


.bx-window ul li a img {
	height: 160px;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("../../images/no_image.jpg");
}

/*next button*/
.bx-next {
	z-index: 999;
	width: 20px;
	height: 20px;
	background-image: url("../../images/images/next.png");
	background-repeat: no-repeat;
	background-position: 0 0px;
}

/*previous button*/
.bx-prev {
	z-index:999;
	width: 20px;
	height: 20px;
	background-image: url("../../images/images/prev.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.bx-pager {
	text-align: center;
}

.bx-pager a {
	margin-right: 7px;
	width: 13px;
	height: 13px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #cccccc;
	text-indent: -9999px;
	display: inline-block;
	-moz-box-shadow: 0px 1px 2px #000000 inset;
	-webkit-box-shadow: 0px 1px 2px #000000 inset;
	box-shadow: 0px 1px 2px #000000 inset;
	text-decoration: none;
}

.bx-pager a.pager-active {
	background-color: #333333;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                           Carroussel bulletin                              */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


.carroussel_bulletin {
	text-align : center;
}

.carroussel_bulletin img {
	border: none;
}

.carroussel_bulletin .active a {
	cursor : pointer;
}

.carroussel_bulletin .current_bull_carroussel {
	font-weight: bold;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                  Mise en forme de la fiche emprunteur	                  */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


#empr-all, #empr-late, #empr-old, #empr-resa, #empr-dsi, #empr-sugg,
#empr-list, #empr-dema {
	margin-top: 25px;
} 

#list_cadre {
	border: none !important;
	padding-top: 15px !important;
	height: auto ! important;
	clear: both;
}

#list_cadre img {
	vertical-align: bottom;
}

.form_liste_lecture .form-contenu .row .colonne2 .row textarea {
	max-width: 100%;	
}

.form_liste_lecture h3 {
	margin-top: 20px;
}

#fiche-empr h3 {
	margin-bottom: 10px;
}

#inscrit_list {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#make_sugg-container table tr td {
	padding-bottom: 5px;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                               Notices affichage                            */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


.bg-grey {
	padding-right: 0.2em;
	width: 150px;
}

#resultatrech_liste tbody tr td table, #resultatrech_liste tbody {
	padding-top:5px;
}

.notice-parent .notices_depliables {
    cursor: pointer;
}

.notice-parent .img_plus {
    margin-right: 5px;
    max-width: 13px;
    max-height: 13px;
}

.notice-parent span a img {
    vertical-align: bottom;
}

.notice-child table table, #notice table table {
    clear: both;
}

.notice-child table table td, #notice table table td {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#notice table div {
    clear: both;
}

.notice-child h3, #notice h3, .parent h3 {
    margin-top: 10px;
    margin-left: 2px;
    margin-bottom: 0px;
    font-size: 16px;
}

#bt_resa {
    margin-left: 3px;
}

.vignetteimg {
	max-width: 140px;
	max-height: 200px;
	width: expression(this.width > 140 ? "140px" : true);
	height: expression(this.height > 200 ? "200px" : true);
	-moz-box-shadow: 1px 1px 5px #666666;
	-webkit-box-shadow: 1px 1px 5px #666666;
	box-shadow: 1px 1px 5px #666666;
}

.child {
    margin-left: 25px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: justify;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #c0c0c0;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #c0c0c0;
    border-right-style: none;
    border-top-style: none;
}

.liste_bulletins {
    padding-left: 3px;
    padding-right: 3px;
    float: left;
	width: 31%;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                       Onglets de l'affichage public/ISBD                   */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


ul.onglets_isbd_public {
}


ul.onglets_isbd_public li img {
    vertical-align: bottom;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                                   Pop-up                                   */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


body.popup {
	background-color: #ffffff;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 15px;
}

#make_sugg {
}
	
#titre-popup {
}

form#f {
	margin-left: 10px;
}

.echelle_avis {
	padding: 7px;
}

.alerte {
	color: #ff0000;
	font-size: 14px;
}

#print_options {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#print_options b {
}

#print_options blockquote {
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    text-align: justify;
}

#print_options textarea {
	margin-top: 5px;
	max-width: 90%;
}

#help-container h2 {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
    padding-bottom: 3px;
}

#help-container p, #help-container ul {
	margin-bottom: 10px;
	margin-top: 0px;
	margin-right: 10px;
	margin-left: 10px;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                               Liens Sociaux                                */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


a.addthis_button_facebook_like iframe {
	height: 20px !important;
    width: 100px !important;
}

a.addthis_button_tweet iframe {
    width: 85px !important;
}

a.addthis_button_compact {
    padding-top: 2px;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                                  Visionneuse                               */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


#visionneuse #visionneuseIframe {
	-moz-box-shadow: 0px 0px 5px #333333;
	-webkit-box-shadow: 0px 0px 5px #333333;
	box-shadow: 0px 0px 5px #333333;
	overflow: hidden;
}

#next, #previous {
	cursor: pointer;
}

#visionneuseBackground {
	-moz-opacity: 0.5;
	opacity: 0.5;
	filter: alpha(opacity=50);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index:9001;
	background-color: #333333;
}

#visio_current_object {
	padding: 1em;
	margin-top: 1.4em;
	text-align: center;
}

#visio_current_description {
	text-align: left;
	margin-top: 1em;	
}

#visio_current_doc a {
	cursor: pointer;	
}

#visio_navigator {
	height: 40px;
	width: 100%;
	margin-top: 0.8em;
}

.linkFullscreen {
	position: absolute;
	right: 2%;
	bottom: 1%;
}

.close {
	position: absolute;
	right: 2%;
	top: 0%;
}

#wait {
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -16px;
}

#videojs {
	margin: auto;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                                 Galerie photo                              */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


.notice-global-photo {
    float: left;
    min-height: 230px;
    width: 280px;
    margin: 4px;
    padding: 4px;
    vertical-align: bottom;
    display: table-cell;
    vertical-align: bottom;
}

.notice-global-nophoto {
    float: left;
    min-height: 230px;
    width: 280px;
    margin: 4px;
    padding: 4px;
}

.notice-global-nophoto .child,
.notice-global-photo .child,
.notice-global-photo .notice-child {
    text-align: justify;
    margin: 0;
    padding: 0;
    border: none;
}

.notice-global-photo A IMG {
    margin-top: 10px;
    margin-bottom: 10px;
}

#form_values_block {
	clear: both;
	display: block;  
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                           Chargement de la page                            */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


.chargement_en_cours {
    background-color: #000000;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    opacity:0.5;
    filter : alpha(opacity=50);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 10000;
    top: 0px;
    left: 0px;
}

.chargement_en_cours div {
    top: 49%;
    left: 50%;
    position: absolute;
    z-index: 10001;
    background-repeat: no-repeat;
    background-position: center center;
    background-image:url('../../images/loader.gif');
    height: 55px;
    width: 55px;
}




/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                                   tags                                     */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


a.TagF1 	{
	font-size:12px;
	color:#000;
}
a.TagF2 	{
	font-size:14px;
	color:#000;
}
a.TagF3 	{
	font-size:16px;
	color:#000;
}
a.TagF4 	{
	font-size:18px;
	color:#000;
}
.tagQuery{
	color:#104DA0;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                                   colonnes                                 */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


/* pour les mises en pages sur deux colonnes */


.colonne {
	float: left;
}

.colonne2 {
	width: 100%;
}

.colonne60 {
	float: left;
	width: 60%;
}

.colonne40 {
	float: left;
	width: 40%;
}


/* pour les mises en pages sur 4 colonnes */


.colonne4 {
	float: left;
	width: 25%;
}


/* pour les mises en pages sur 5 colonnes */


.colonne5 {
	float: left;
	width: 20%;
}


/* pour les mises en pages sur 3 colonnes */


.colonne3 {
	float: left;
	width: 33%;
}


/* autres colonnes */


.colonne10 {
	float: left;
	width: 10%;
}

.colonne80 {
	float: left;
	width: 80%;
}

.content {
	position: relative;
    padding: 10px;
	width: 100%;
}
          
.content .padder {
	height: 200px;
}
     
div.tabs {
	font-size: 14px;
	line-height: 16px;
	position: absolute;
	top: 20px;
	left: 50px;
	z-index: 1000;
}
       
.tab {
	padding: 3px;
    z-index: 100;
}

.tabHover {
	z-index: 1200;
}

.tabActive { 
	padding: 3px;
	z-index: 10000;
}
      
#viewsrc{
	width: 130px;
	margin: 5px;
}

.child_tab {
	margin-left: 30px;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                       MODIFICATIONS POUR L'IMRPESSION                      */
/*                                                                            */
/* pour l'impression, masquage de tags                                        */
/* nécessite nécessite @media screen sur #main (uniquement racine)            */
/* nécessite nécessite @media screen sur #container (uniquement racine)       */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


@media print {

	#all_footer,
	#bandeau,
	#navigator,
	#intro .p1,
	#intro .p2,
	#footer {
		display: none;
	}
          
    #main #search_crl {
    	clear: both;
    }      

}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                            CLASSES GENERIQUES                              */
/*                 divers pour les affichages simples de texte                */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


.right-50 {
	width: 50%;
}

.right-15 {
	width: 15%;
}

.right-85 {
	width: 85%;
}

.right-clear-right, .right-50-clear-right {
	float: right;
	clear: right;
}

.left-clear-left, .left-50-clear-left {
	float: left;
	clear: left;
}

.left, .left-50, .left-15 {
	float: left;
}

.left-50 {
	width: 50%;
}

.left-15 {
	width: 15%;
}

.left-85 {
	width: 85%;
}

.spacer {
	clear: both;
	visibility: hidden;
	display: none;
	margin-bottom: -10px;
	margin-top: -10px;
}


/* Bannettes */


.bannette { 
	padding: 5px;
}

.bannette-container { 
	margin-bottom: 20px;
}


/*Suggestion Multiple*/


.tab_sug {
	table-layout: fixed;
}

.tab_sug th, .tab_sug td {
	border:1px solid #CCCCCC;
	border-collapse:collapse;
	overflow:hidden;	
	vertical-align: middle;
	text-align: center;
	width: 100%;
}

.tab_sug input, .tab_sug textarea {
   width:95%;
   height:100%;
}

.tab_sug select{
	width:95%;
}

.erreur_saisie {
	background-color: #ff0000;
}

.categmouseout {
	position: absolute;
	visibility:hidden;
	z-index: 2000;
}
.categmouseover {
	position: absolute;
	visibility:visible;
	z-index: 2000;
	margin-top: 2px;
}

.listedescription {
	background-color: #ffffff;
	position: absolute;
	visibility:hidden;
	z-index: 2000;
}

#aut_details_container table img {
	margin-right: 2px;
	vertical-align: baseline;
}

#history_action {
	margin-bottom: 15px;
}

.cms_drag {
	border: 3px dashed red;
	cursor: move;		
	z-index: 2000;
}

.etiq_champ {
	font-weight:bold;
}

.vignetteimg_simili {
    height: 95px;
    max-width: 110px;
  	background-repeat: no-repeat;
  	background-image: url("../../images/no_image.jpg");
  	background-size: 95px auto;
}

/*
Portfolio
*/

.document_item {
	text-align: center;
	height:200px;
	width:200px;
	line-height:200px; 
	float:left;
	margin: 5px;
	padding : 5px;
	background-color: #eff;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #ddd;
	position:relative;

}

.document_item_selected {
	background-color: #ffe;
}

.document_item_content {
	line-height:1.2;
	display:inline-block;
	vertical-align:middle;
	word-break : break-all;
	clear:both;
}

.dropTarget {
	height:100px;
	width:97%;
	overflow:hidden;
	line-height:100px; 
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #ccc;
	background-color: #ddd;
	float :left;
}

.targetActive {
	-moz-box-shadow: 0 0 15px #006666;
	-webkit-box-shadow: 0 0 15px #006666;
	box-shadow: 0 0 15px #006666;
}

.document_item .document_checkbox{
	position:absolute;
	width:100%;
	text-align:center;
	overflow:hidden;
	top : 100px;
}