 /* +--------------------------------------------------------------------------+
// ? 2002-2013 PMB Services / www.sigb.net pmb@sigb.net et contributeurs (voir www.sigb.net)
// +-------------------------------------------------+
// $Id: common.css,v 1.1 2013-07-26 12:17:59 dgoron Exp $ */


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                         ATTRIBUTS DSI            	                      */
/*                                                                            */
/*                     mise en forme du mail		                          */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


.vignetteimg {
	max-width: 140px;
	max-height: 200px;
	width: expression(this.width > 140 ? "140px" : true);
	height: expression(this.height > 200 ? "200px" : true);
	-moz-box-shadow: 1px 1px 5px #666666;
	-webkit-box-shadow: 1px 1px 5px #666666;
	box-shadow: 1px 1px 5px #666666;
}
